<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Epicodus Mad Lib!</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <h1>Fill in the blanks and see your custom mad libs!</h1>
    <form action="/epicodusmadlib" method="post">
     <label for="pronoun">pronoun</label>
     <input id="pronoun" name="pronoun" type="text">
     <label for="verb">verb</label>
     <input id="verb" name="verb" type="text">
     <label for="adjective">adjective</label>
     <input id="adjective" name="adjective" type="text">
     <label for="adverb">adverb</label>
     <input id="adverb" name="adverb" type="text">
     <button type="submit">Go!</button>
    </form>
  </body>
</html>