<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Mad Libs!</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <h1>Welcome to Mad Libs! Please click the story to choose!</h1>
    <a href="/foodform">Click for food</a>
    <a href="/woodsform">Click for the woods</a>
    <a href="/epicodusform">Click here for coding</a>
  </body>
</html>
